.wrapper{
    width: 966px;
    margin:0 auto;
}

.row > div{
    border: 1px solid #aaa5a5;
    float: left;
    margin: 10px;
    position: relative;
}

.row > div > img{
    width: 300px;
    height: 200px;
    background: #aaa5a5;
}


h1 {
    margin:15px 0px;
    padding-left: 20px;
    color: #448cc8;
}

.socialButtons {
    background: #aaa5a5;
    padding: 10px 0;
    border-top: 2px solid #585454;
}

.socialButtons > span {
    border: 1px solid;
}

.dateTime {
     background: #448cc8;
     position: absolute;
     top: 0;
     left: 0;
}

.dateTime > span {
    border: 1px solid;
}